---
import SectionTitle from "@/components/SectionTitle.astro";
---

<div class="w-full bg-[#121212]">
  <section class="flex h-full w-full flex-col justify-start pb-8 md:py-24">
    <div class="container flex max-w-screen-lg flex-col">
      <SectionTitle>About me</SectionTitle>
    </div>
    <div
      class="container m-auto flex w-full max-w-screen-lg flex-col items-center gap-8 px-8 md:flex-row"
    >
      <h2 class="w-full text-pretty text-xl font-semibold md:text-2xl">
        Hey there, I'm a creative spirit and strategic thinker with 4 years of
        experience bringing content to life and making <span
          class="text-primary">marketing magic</span
        > in the digital world. I have a knack for crafting audiovisual material
        that not only wins over audiences but also delivers <span
          class="text-primary">big results</span
        >. I stay up-to-date with the latest trends like artificial
        intelligence, and I'm always excited to learn more to boost my skills.
        My journey has taken me through managing and fine-tuning marketing
        campaigns on platforms like <span class="text-primary"
          >TikTok and Facebook</span
        >, using cool AI tools, and creating content for social media that gets
        people talking.
      </h2>
      <img
        src="/images/img-2.jpg"
        alt="About image"
        class="order-first h-40 w-40 rounded-full object-cover md:order-last md:h-80 md:w-80"
      />
    </div>
  </section>
</div>
