---
import SectionTitle from "@/components/SectionTitle.astro";
---

<div class="w-full bg-[#121212]">
  <section class="flex h-full w-full flex-col justify-start pb-8 md:py-24">
    <div class="container flex max-w-screen-lg flex-col">
      <SectionTitle>About me</SectionTitle>
    </div>
    <div
      class="container m-auto flex w-full max-w-screen-lg flex-col items-center justify-between gap-8 px-8 md:flex-row"
    >
      <h2 class="max-w-xl text-pretty text-xl md:text-5xl">
        Lorem ipsum dolor sit amet, <span class="text-primary">consectetur</span
        > adipiscing elit. Sed a hendrerit risus. Curabitur quis purus suscipit,
        fringilla libero sed, eleifend massa. Proin elementum auctor mauris eget
        commodo.
      </h2>
      <img
        src="/images/img-2.webp"
        alt="About image"
        class="order-first h-40 w-40 rounded-full object-cover md:order-last md:h-96 md:w-96"
      />
    </div>
  </section>
</div>
