---
import SectionTitle from "@/components/SectionTitle.astro";
import BentoGrid from "@/components/BentoGrid.astro";
import BentoItem from "@/components/BentoItem.astro";
---

<div class="w-full bg-[#121212]">
  <section class="flex h-full w-full flex-col justify-start pb-8 md:py-24">
    <div class="container flex max-w-screen-lg flex-col">
      <SectionTitle>Content</SectionTitle>
    </div>

    <BentoGrid>
      <BentoItem
        type="image"
        orientation="vertical"
        src="/images/img-1.jpg"
        alt="Image 1"
      />
      <BentoItem
        type="image"
        orientation="horizontal"
        src="/images/img-2.jpg"
        alt="Image 2"
      />
      <BentoItem
        type="image"
        orientation="horizontal"
        src="/images/img-3.jpg"
        alt="Image 3"
      />
      <BentoItem
        type="image"
        orientation="vertical"
        src="/images/img-4.jpg"
        alt="Image 4"
      />
      <BentoItem
        type="image"
        orientation="vertical"
        src="/images/img-5.jpg"
        alt="Image 5"
      />
      <BentoItem
        type="video"
        orientation="horizontal"
        src="/video.webm"
        alt="Video"
      />
    </BentoGrid>
  </section>
</div>
