---
import ExperienceCard from "@/components/ExperienceCard.astro";
import SectionTitle from "@/components/SectionTitle.astro";
---

<div class="w-full">
  <section class="flex h-full w-full flex-col justify-start">
    <div class="container flex max-w-screen-lg">
      <SectionTitle> Work Experience </SectionTitle>
    </div>
    <ExperienceCard
      dateStart="May 2023"
      dateEnd="May 2024"
      title="Growth Marketer"
      company="Teilur.ai"
      description="I was responsible for the creation of audiovisual content and strategies for social networks. I also use AI tools for scripting, content creation and campaign optimization."
    />
    <ExperienceCard
      dateStart="December 2022"
      dateEnd="May 2023"
      title="Ecommerce Manager"
      company="Grupo Caicedo SAS"
      description="Managed sales campaigns on TikTok ads, increasing sales by 20%. I created audiovisual content for TikTok Ads and Facebook Ads. I also created and optimized landing pages in Shopify."
    />
    <ExperienceCard
      dateStart="September 2022"
      dateEnd="December 2022"
      title="Content Marketing Intern"
      company="Global Commerce Media"
      description="I participated in SEO practices, digital marketing, and web content writing."
    />
    <ExperienceCard
      dateStart="August 2020"
      dateEnd="December 2022"
      title="Social Media Manager & Co-founder"
      company="Semiluna Joyas"
      description="Create audiovisual content and developed strategies for social networks and campaigns through Facebook Ads. Increased presence, awareness and sales of the brand through social networks."
    />
  </section>
</div>
