---
import ExperienceCard from "@/components/ExperienceCard.astro";
import SectionTitle from "@/components/SectionTitle.astro";
---

<div class="w-full">
  <section class="flex h-full w-full flex-col justify-start">
    <div class="container flex max-w-screen-lg">
      <SectionTitle> Work Experience </SectionTitle>
    </div>
    <ExperienceCard
      dateStart="May 2023"
      dateEnd="Present"
      title="Growth Marketer"
      company="Teilur.ai"
      description="I'm responsible for creating audiovisual content and strategies for social media. I also handle AI tools for campaign optimization."
    />
    <ExperienceCard
      dateStart="December 2022"
      dateEnd="May 2024"
      title="Ecommerce Manager"
      company="Grupo Caicedo SAS"
      description="I manage sales campaigns on TikTok ads, increasing sales by 20%. I also create and optimize landing pages, and use AI tools to optimize campaigns."
    />
    <ExperienceCard
      dateStart="September 2022"
      dateEnd="December 2022"
      title="Content Marketing Intern"
      company="Global Commerce Media"
      description="I participated in SEO practices, digital marketing, and web content writing."
    />
    <ExperienceCard
      dateStart="August 2020"
      dateEnd="December 2022"
      title="Social Media Manager & Co-founder"
      company="Semiluna Joyas"
      description="I create audiovisual content and develop strategies for social media and campaigns through Facebook Ads."
    />
  </section>
</div>
