---
import SectionTitle from "@/components/SectionTitle.astro";
import SkillCard from "@/components/SkillCard.astro";
---

<div class="w-full">
  <section class="flex h-full w-full flex-col justify-start">
    <div class="container flex max-w-screen-lg flex-col">
      <SectionTitle>What I do</SectionTitle>
    </div>
    <div class="w-full border-b border-border"></div>
    <SkillCard>Social Media</SkillCard>
    <SkillCard>Facebook ads</SkillCard>
    <SkillCard>TikTok ads</SkillCard>
    <SkillCard>Reels & TikTok</SkillCard>
    <SkillCard>Photography</SkillCard>
    <SkillCard>Video</SkillCard>
  </section>
</div>
