---
import { SoundButton } from "@/components/SoundButton";
---

<div class="relative w-full">
  <section
    class="absolute z-20 flex h-full w-full items-center justify-start text-3xl md:items-end"
  >
    <SoundButton client:load />
  </section>
  <video
    class="h-screen w-full object-cover object-top animate-duration-[2s] animate-ease-in-out"
    autoplay
    loop
    muted
    playsinline
    id="main-video"
    preload="metadata"
    ><source
      src="https://utfs.io/f/1e3c70bc-8bfd-498f-8984-c52b5ea34973-ifdiaw.mp4"
      type="video/mp4"
    /></video
  >
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const video = document.getElementById("main-video") as HTMLVideoElement;
    const soundButton = document.getElementById("sound-button");

    soundButton?.addEventListener("click", () => {
      if (video?.muted) {
        video.muted = false;
      } else {
        video.muted = true;
      }
    });
  });
</script>
