---
import Layout from "@/layouts/Layout.astro";
import Video from "@/components/Video.astro";
import Experience from "@/components/Experience.astro";
---

<Layout
  title="Laura Calero | Growth Marketer, filmmaker and photographer."
  description="Passionate professional in Marketing and Audiovisual Content."
>
  <Video />
  <main class="container w-full">
    <Experience />

    <!-- <WhatIDo/> -->
    <!-- <WorkBento/> -->
    <!-- <AboutMe/> -->
    <!-- <Contact/> -->
  </main>
</Layout>

<style>
  main {
  }
</style>
