---
import Layout from "@/layouts/Layout.astro";
import Video from "@/components/Video.astro";
import Experience from "@/components/Experience.astro";
---

<Layout
  title="Laura Calero | Growth Marketer, filmmaker and photographer."
  description="Passionate professional in Marketing and Audiovisual Content."
>
  <Video />
  <main class="w-full">
    <div id="experience" class="-mt-16 pt-16 md:-mt-20 md:pt-20">
      <Experience />
    </div>
    <div class="h-screen"></div>

    <!-- <WhatIDo/> -->
    <!-- <WorkBento/> -->
    <!-- <AboutMe/> -->
    <!-- <Contact/> -->
  </main>
</Layout>

<style>
  main {
  }
</style>
