---
import Layout from "@/layouts/Layout.astro";
import Video from "@/components/sections/Video.astro";
import Experience from "@/components/sections/Experience.astro";
import Skills from "@/components/sections/Skills.astro";
import Content from "@/components/sections/Content.astro";
import AboutMe from "@/components/sections/AboutMe.astro";
---

<Layout
  title="Laura Calero | Growth Marketer, filmmaker and photographer."
  description="Passionate professional in Marketing and Audiovisual Content."
>
  <Video />
  <main class="w-full">
    <div id="experience" class="-mt-16 pt-16 md:-mt-20 md:pt-20">
      <Experience />
    </div>
    <div id="content" class="-mt-16 pt-16 md:-mt-20 md:pt-20">
      <Content />
    </div>

    <div id="skills" class="-mt-16 pt-16 md:-mt-20 md:pt-20">
      <Skills />
    </div>

    <div id="about-me" class="-mt-16 pt-16 md:-mt-20 md:pt-20">
      <AboutMe />
    </div>
  </main>
</Layout>

<style>
  main {
  }
</style>
