<div class="h-screen w-full">
  <section
    class="animate container mx-auto flex h-full w-full items-start justify-center"
  >
    <article class="grid max-w-screen-lg grid-cols-4 text-4xl">
      <span class="col-span-1">June 2020 - Present</span>
      <p class="col-span-3">Growth Marketing</p>
    </article>
  </section>
</div>
