---
import ExperienceCard from "./ExperienceCard.astro";
---

<div class="w-full">
  <section class="flex h-full w-full flex-col justify-start">
    <div class="container flex max-w-screen-lg">
      <h2 class="mt-6 text-sm uppercase leading-8 tracking-widest">
        Work Experience
      </h2>
    </div>
    <ExperienceCard
      dateStart="June 2023"
      dateEnd="Present"
      title="Growth Marketing"
      company="Teilur"
      description="I'm in charge of the growth marketing strategy for Teilur, a startup that is revolutionizing the way people learn and teach. I'm responsible for the entire marketing funnel, from acquisition to retention, and I'm also in charge of the marketing team."
    />
    <ExperienceCard
      dateStart="June 2023"
      dateEnd="Present"
      title="Growth Marketing"
      company="Teilur"
      description="I'm in charge of the growth marketing strategy for Teilur, a startup that is revolutionizing the way people learn and teach. I'm responsible for the entire marketing funnel, from acquisition to retention, and I'm also in charge of the marketing team."
    />
    <ExperienceCard
      dateStart="June 2023"
      dateEnd="Present"
      title="Growth Marketing"
      company="Teilur"
      description="I'm in charge of the growth marketing strategy for Teilur, a startup that is revolutionizing the way people learn and teach. I'm responsible for the entire marketing funnel, from acquisition to retention, and I'm also in charge of the marketing team."
    />
    <ExperienceCard
      dateStart="June 2023"
      dateEnd="Present"
      title="Growth Marketing"
      company="Teilur"
      description="I'm in charge of the growth marketing strategy for Teilur, a startup that is revolutionizing the way people learn and teach. I'm responsible for the entire marketing funnel, from acquisition to retention, and I'm also in charge of the marketing team."
    />
  </section>
</div>
