---
import { Icons } from "@/components/Icons";
import HeaderIcons from "@/components/HeaderIcons.astro";
---

<header
  class="fixed z-50 flex h-16 w-full items-center justify-between py-6 md:h-20"
  id="header-nav"
>
  <a class="ml-4 text-lg font-bold md:ml-8 lg:ml-12" href="#top">Laura Calero</a
  >
  <a
    class="mr-4 cursor-pointer rounded-full bg-transparent p-2 transition-colors duration-300 hover:bg-primary md:mr-8 lg:mr-12"
    href="#header-menu"><Icons.menu /></a
  >
  <nav
    id="header-menu"
    class="fixed inset-0 flex h-dvh w-full -translate-y-full flex-col items-start gap-y-8 bg-background/90 px-4 py-20 text-4xl text-foreground transition-transform duration-300 target:translate-y-0 md:items-center md:text-6xl"
  >
    <a href="#top">Home</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#skills">Skill</a>
    <HeaderIcons />
    <a
      href="#header-nav"
      class="absolute right-6 top-6 rounded-full border-2 border-primary bg-primary p-2 text-foreground transition-colors duration-300 hover:bg-transparent hover:text-primary"
    >
      <Icons.close />
    </a>
  </nav>
</header>
