---
import { Icons } from "@/components/Icons";
---

<div class="z-40 flex items-center justify-between gap-x-4 md:hidden">
  <div
    class="cursor-pointer rounded-full bg-transparent p-2 transition-colors duration-300 hover:bg-primary"
  >
    <Icons.mail className="h-6 w-6 shrink-0" />
  </div>
  <div
    class="cursor-pointer rounded-full bg-transparent p-2 transition-colors duration-300 hover:bg-primary"
  >
    <Icons.instagram className="h-6 w-6 shrink-0" />
  </div>
  <div
    class="cursor-pointer rounded-full bg-transparent p-2 transition-colors duration-300 hover:bg-primary"
  >
    <Icons.linkedin className="h-6 w-6 shrink-0" />
  </div>
</div>
