<div class="w-full border-b border-border">
  <article
    class="mx-auto flex h-28 w-full max-w-screen-lg items-center justify-center text-8xl leading-tight"
  >
    <p
      class="animate-fade-out-down container leading-none text-background [animation-range:cover_10%_contain_50%] [animation-timeline:view(block)]"
    >
      <slot />
    </p>
  </article>
</div>
