<div class="relative w-full">
  <div class="absolute inset-0 z-10 bg-black bg-opacity-50"></div>
  <section
    class="animate container absolute z-20 m-auto flex h-full w-full animate-fade-up items-center justify-center"
  >
    <h1 class="max-w-screen-md text-wrap px-4 text-center text-8xl">
      Lorem ipsum dolor sit amet, <span class="text-primary">consectetur</span> adipiscing
      elit.
    </h1>
  </section>
  <video
    class="h-screen w-full object-cover object-top animate-duration-[2s] animate-ease-in-out"
    autoplay
    loop
    muted
    playsinline
    id="main-video"
    preload="metadata"><source src="/video.mp4" type="video/mp4" /></video
  >
</div>
